.button-circle {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  top: calc(100% - 20px);
  left: calc(0% + 20px);
  transform: translate(0, -100%);
  background-color: var(--color-main);
  color: var(--color-black1);
  transition: all 0.5s ease;
  animation: whatappbutton-anim 1.5s ease;
  filter: drop-shadow(0 5px 10px black);
  border-radius: 50%;
}

.button {
  padding: 1.5rem;
  font-size: 10rem;
}

.button-circle:hover {
  background-color: white;
  transform: translate(0, -100%) scale(1.15);
}

@media only screen and (min-width: 768px) {
  .button-circle {
    width: 7rem;
    height: 7rem;
  }
}

@keyframes whatappbutton-anim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px) translate(0, -100%);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0) translate(0, -100%);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px) translate(0, -100%);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0) translate(0, -100%);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px) translate(0, -100%);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0) translate(0, -100%);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px) translate(0, -100%);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0) translate(0, -100%);
  }
}
