@import url(/src/Variables.css);

:root {
  --circle-size: 8rem;
  --icon-color: #25d366;
}

.button__circle {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100%;
  left: 0;
  transform: translate(10%, -110%);
  background-color: var(--icon-color);
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.button {
  font-size: 5rem;
  color: #fff;
}
