:root {
  --faq-fontsize: 1.4rem;
}

.faq-box {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 3rem 0 2rem 0;
  background-color: var(--color-black2);
}

.faq {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100rem;
}

.faq > h1 {
  color: var(--color-main);
  font-weight: 600;
  font-size: calc(var(--faq-fontsize) + 2.5rem);
  margin-bottom: 1rem;
  letter-spacing: 0.08rem;
}

.faq-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: calc(var(--faq-fontsize) + 0.2rem);
  gap: 2rem;
  direction: rtl;
  padding: 2rem 1rem 1rem 1rem;
  transition: all 0.5s ease;
  color: white;
}

.faq-item:nth-child(-n + 6) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  transition: color 0.2s ease;
}

.title:hover {
  color: #9c9c9c;
}

.title > h1,
.faq-icon {
  cursor: pointer;
}

.title > h1 {
  font-weight: 600;
  font-size: calc(var(--faq-fontsize) + 0.5rem);
  max-width: 85%;
  transition: color 0.2s ease;
}

.faq-icon {
  transition: transform 0.2s ease;
  align-self: center;
}

.faq-icon.flip {
  transform: rotate(-180deg);
}

.answer > p {
  line-height: 3rem;
}

.answer {
  overflow: hidden;
  max-height: 0;
  max-width: 95%;
  font-weight: 500;
}

.answer.show {
  max-height: 500px;
}

@media only screen and (min-width: 768px) {
  :root {
    --faq-fontsize: 1.8rem;
  }
}
