@import url(/src/Variables.css);

/* .hero__background {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-secondary);
} */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--hero-gradient);
  padding-bottom: 15rem;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 15rem;
  justify-content: center;
  max-width: 120rem;
  margin-top: 10rem;
}

.hero__img-wrap {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__img {
  height: 80%;
  width: auto;
}

.hero__text-container {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  direction: rtl;
}

.hero__text-container > h1 {
  font-weight: 100;
  font-size: 15rem;
}

.hero__text-container > p {
  font-weight: 100;
  font-size: 5rem;
}

.hero__buttons-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 2.8rem;
  text-decoration: none;
  background-color: var(--color-main);
  color: white;
  padding: 1.2rem 1.5rem;
  border: 0.15rem solid white;
  direction: rtl;
  gap: 1.5rem;
}
