.hero__about {
  background-color: rgba(0, 255, 225, 0.2);
  position: absolute;
  top: 65vh;
  left: 0;
  height: 90vh;
  width: 100vw;
}

.hero__about--box {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  width: 60%;
  height: 80%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  direction: rtl;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .hero__about--box {
    width: 85%;
  }
}
