:root {
  --hero-fontSize: 3rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 192, 203, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 192, 203, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 192, 203, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffc0cb",GradientType=1);
}

.hero > img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  width: 80vw;
  height: auto;
  max-width: 50rem;
  filter: drop-shadow(0 5px 10px black);
  animation: fade-right 1.2s ease-in;
}

.hero__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
  max-width: 80rem;
  border: solid 1.5rem rgba(#000, 0.2);
  text-align: center;
  z-index: 1;
  animation: fade-left 1.2s ease-in;
}

.hero__text-head {
  font-weight: 500;
  font-size: 3rem;
  color: white;
  text-shadow: 0 5px 10px black;
}

.hero__text-head > h1 {
  font-weight: inherit;
}

.hero__text {
  text-align: center;
  direction: rtl;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 10px black;
}

.hero__buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.hero__button {
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  font-size: calc(var(--hero-fontSize) - 1rem);
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.15rem solid white;
  color: white;
  gap: 1rem;
  direction: rtl;
  box-shadow: 0 5px 10px 2px black;
}

.hero__button:hover {
  background-color: var(--color-main);
  color: black;
  transition: all 0.5s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translate(-35%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translate(-65%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .hero__text-container {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 80%;
  }

  .hero > img {
    top: 50%;
    left: 30%;
  }

  .hero__text-head {
    font-size: 4rem;
  }

  .hero__text {
    font-size: 4rem;
  }

  .hero__buttons-container {
    gap: 3rem;
  }

  .hero__button {
    font-size: 3rem;
    padding: 1rem 1.5rem;
  }
}
