:root {
  --reviews-fontSize: 3rem;
}

.reviews-box {
  width: 100%;
  height: 100%;
  background-color: var(--color-grey2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  position: relative;
}

.reviews-box > h1 {
  font-size: calc(var(--reviews-fontSize));
  text-align: center;
  color: #353535;
}

@media only screen and (min-width: 768px) {
  .reviews-box {
    flex-direction: row;
    padding: 2rem 3rem;
  }
  .reviews-box > h1 {
    font-size: calc(var(--reviews-fontSize) + 4rem);
    margin-left: 1rem;
    order: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .reviews-box > h1 {
    font-size: calc(var(--reviews-fontSize) + 4rem);
    padding: 2rem 4rem;
  }
}

@media only screen and (min-width: 1350px) {
  .reviews-box > h1 {
    transform: translateX(-50%);
    margin: initial;
  }
}
