.reviews-box {
  width: 100%;
  height: 100%;
  background-color: var(--color-black2);
  direction: rtl;
  padding: 3rem 0 6rem 0;
}

.reviews-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  max-width: 120rem;
  gap: 2rem;
}

.reviews-container-text {
  text-align: center;
}

.reviews-container-text > h1 {
  color: pink;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.reviews-container-text > h2 {
  color: white;
  font-size: 1.8rem;
}

@media only screen and (min-width: 768px) {
  .reviews-box {
    padding: 4rem 0;
  }
  .reviews-container {
    flex-direction: row;
    gap: 20rem;
  }

  .reviews-container-text {
    text-align: right;
  }

  .reviews-container-text > h1 {
    font-size: 5rem;
  }

  .reviews-container-text > h2 {
    font-size: 2.5rem;
  }
}
