.gallery-box {
  text-align: center;
  padding: 3rem 0 6rem 0;
  background-color: var(--color-black1);
}

.gallery-head {
  color: #fff;
  margin: auto auto 3rem auto;
  font-size: 2rem;
  max-width: 90%;
}

.gallery-head > h1 {
  color: var(--color-main);
}

.gallery-head > p {
  font-size: 2.5rem;
}

.gallery-container {
  width: 95%;
  max-width: 160rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-template-rows: repeat(auto-fit, 14rem);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.gallery-container > img {
  width: 50vw;
  height: 50vw;
  max-width: 14rem;
  max-height: 14rem;
  object-fit: cover;
  object-position: center;
}

.gallery-container > img:hover {
  border: 2px solid white;
  transition: border 0.2s ease, transform 1s ease, filter 0.5s ease;
  transform: scale(1.1);
  filter: drop-shadow(0 5px 10px black);
}

@media screen and (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-template-rows: repeat(auto-fit, 30rem);
  }

  .gallery-container > img {
    max-width: 30rem;
    max-height: 30rem;
  }
}
