.slider-background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  font-size: 10rem;
}

/* Container for the slider */
.slider-container {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
}

/* Style for the slider */
.slider {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}

.slider.left {
  /* transform: translateX(-100%); */
}

.slider.right {
  /* transform: translateX(100%); */
}

/* Style for the arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  color: white;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* Style for the circles */
.circle-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.circle {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  color: white;
}

.active {
  color: gray;
}
