@import url(/src/Variables.css);

.studio {
  position: relative; /* required for absolute positioning of pseudo-element */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/src/assets/gymexample.jpg) center fixed no-repeat;
  background-size: cover;
  padding: 12rem;
  margin-top: 1rem;
}

.studio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* set your desired background color and opacity here */
}

.studio__text-container {
  max-width: 120rem;
  min-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2.5rem;
  z-index: 1;
}

.studio__text-container > h1 {
  font-weight: 400;
  font-size: 6rem;
}

.studio__text-container > p {
  font-weight: 100;
  font-size: 3rem;
  line-height: 5rem;
}
