@import url(/src/Variables.css);

:root {
  --navbar-height: 7rem;
  --box-height: calc(var(--navbar-height) - 2rem);
  --nav-fontSize: 2rem;
}

.navbar {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--navbar-height);
  font-size: var(--nav-fontSize);
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.2);
}

.navbar__box {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: var(--box-height);
  max-width: 75%;
  transition: all 1s ease;
}

.navbar__logo {
  order: 3;
  margin-left: auto;
  cursor: pointer;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.2));
}

.navbar__logo > img {
  height: var(--box-height);
}

.navbar__social-icons {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: var(--box-height);
  font-size: calc(var(--nav-fontSize) + 1.5rem);
  gap: 1rem;
  margin-right: auto;
}

.navbar__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-main);
}

.navbar__menu {
  order: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: var(--box-height);
  font-size: var(--nav-fontSize);
}

.navbar__menu-mobile-icon {
  display: none;
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  direction: rtl;
  cursor: pointer;
  color: black;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
}

.navbar__link.link__main {
  color: var(--color-main);
}

.navbar__link:hover {
  color: var(--color-main);
  transition: all 0.2s ease-in-out;
}

.navbar__social-link:hover {
  color: black;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1248px) {
  .navbar__box {
    max-width: 90%;
  }

  .navbar__link {
    padding: 0 1.5rem;
    font-size: calc(var(--nav-fontSize) - 0.1rem);
  }
}

@media only screen and (max-width: 1024px) {
  .navbar__box {
    max-width: 90%;
  }

  .navbar__menu {
    flex-direction: column;
    justify-content: start;
    height: initial;
    position: absolute;
    top: var(--navbar-height);
    padding-top: 2rem;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    transition: all 0.5s ease-in-out;
  }

  .mobile {
    left: 0%;
    transition: all 0.5s ease-in-out;
  }

  .navbar__logo {
    margin: initial;
    order: 1;
  }

  .navbar__item {
    width: 95%;
    height: 8rem;
  }

  .navbar__item:nth-child(-n + 4) {
    border-bottom: 0.1rem solid rgb(255, 255, 255, 0.3);
  }

  .navbar__link {
    color: white;
  }

  .navbar__link.link__main {
    color: white;
  }

  .navbar__link:hover {
    background-color: white;
    color: black;
    transition: all 0.4s ease-in-out;
  }

  .navbar__social-icons {
    order: 2;
    margin: auto;
    font-size: calc(var(--nav-fontSize) + 1.6rem);
  }

  .navbar__menu-mobile-icon {
    display: block;
    margin-top: 1rem;
    font-size: calc(var(--nav-fontSize) + 1rem);
    order: 3;
    cursor: pointer;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
  }
}
