@import url(/src/Variables.css);

:root {
  --box-height: calc(var(--navbar-height) - 2rem);
  --nav-fontSize: 2.5vh;
}

.navbar {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  font-size: var(--nav-fontSize);
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.2);
}

.navbar__box {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: var(--box-height);
  max-width: 75%;
}

.navbar__logo {
  order: 3;
  margin-left: auto;
  cursor: pointer;
}

.navbar__logo > img {
  height: var(--box-height);
}

.navbar__social-icons {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: var(--box-height);
  font-size: calc(var(--nav-fontSize) + 2vh);
  gap: 1vw;
  margin-right: auto;
}

.navbar__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-main);
}

.navbar__menu {
  order: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: var(--box-height);
}

.navbar__menu-mobile-icon {
  display: none;
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  height: 100%;
  width: 100%;
  padding: 0 1vw;
}

.link__main {
  color: var(--color-main);
}

.navbar__link:hover {
  color: var(--color-main);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .navbar__box {
    max-width: 90%;
  }

  .navbar__menu {
    flex-direction: column;
    justify-content: start;
    height: initial;
    position: absolute;
    top: var(--navbar-height);
    padding-top: 1vh;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    transition: all 0.5s ease-in-out;
  }

  .mobile {
    left: 0%;
    transition: all 0.5s ease-in-out;
  }

  .navbar__logo {
    margin: initial;
    order: 1;
  }

  .navbar__item {
    width: 95%;
    height: 10vh;
  }

  .navbar__item:nth-child(-n + 5) {
    border-bottom: 0.1rem solid rgb(255, 255, 255, 0.3);
  }

  .navbar__link {
    color: white;
  }

  .navbar__link:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
  }

  .navbar__social-icons {
    order: 2;
    margin: auto;
    font-size: calc(var(--nav-fontSize) + 1.5vh);
    gap: 1rem;
  }

  .navbar__menu-mobile-icon {
    display: block;
    margin-top: 1vh;
    font-size: calc(var(--nav-fontSize) + 0.8vh);
    order: 3;
    cursor: pointer;
  }
}
