@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap");

:root {
  --color-main: #5ea9da;
  --color-secondary: #a4dbff;
  --color-gradient: linear-gradient(
    250deg,
    rgb(107, 194, 252) 0%,
    rgba(172, 209, 233, 1) 100%
  );
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Assistant", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
