:root {
  --studio-fontSize: 2rem;
}

.studio {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem 0;
}

.studio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/src/assets/gymexample.jpg) center no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(3px);
}

.studio__container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 100rem;
}

.studio__container > img {
  width: 70vw;
  height: 60vw;
  max-width: 40rem;
  max-height: 30rem;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 5px 10px black;
  border: 1px solid black;
  transition: all 1s ease;
}

.studio__container > img:hover {
  transform: scale(1.2);
}

.studio__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  direction: rtl;
  gap: 1rem;
  text-align: center;
  color: white;
}

.studio__text-container > h1 {
  font-weight: 600;
  font-size: calc(var(--studio-fontSize) + 2.5rem);
  color: pink;
  /* text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000,
    1px 1px 2px #000; */
}

.studio__text-container > p {
  font-size: calc(var(--studio-fontSize));
  line-height: calc(var(--studio-fontSize) + 1rem);
}

.reveal-anim {
  opacity: 0;
}

.active-anim.fade-bottom {
  animation: fade-bottom 1s ease forwards;
}

@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 768px) {
  .studio {
    padding: 5rem 0;
  }
  .studio__container {
    flex-direction: row-reverse;
    gap: 5rem;
  }

  .studio__text-container {
    text-align: right;
    align-items: start;
  }
}
