:root {
  --studio-fontSize: 2rem;
}

.studio {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/src/assets/gymexample.jpg) fixed center no-repeat;
  background-size: cover;
  padding: 4rem 0;
  margin: 1rem 0;
}

.studio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.studio__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  direction: rtl;
  max-width: 80%;
  gap: 1rem;
  /* transition: max-width 1s ease-in-out; */
}

.studio__text-container > h1 {
  font-weight: 300;
  font-size: calc(var(--studio-fontSize) + 2.5rem);
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0 0.2rem 0.8rem rgba(0, 0, 0, 0.516);
}

.studio__text-container > p {
  font-weight: 200;
  font-size: calc(var(--studio-fontSize));
  line-height: calc(var(--studio-fontSize) + 1.2rem);
}

@media only screen and (min-width: 768px) {
  :root {
    --studio-fontSize: 2.5rem;
  }
  .studio__text-container {
    max-width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --studio-fontSize: 3rem;
  }
  .studio__text-container {
    max-width: 65%;
  }
}
